.eladrousi-color,
.eladrousi-colorhover:hover,
.navbar-nav>li:hover>a,
.navbar-nav>li.active>a,
.navbar-nav .sub-menu>li:hover>a,
.widget_nav_manu ul li:hover a,
.widget_nav_manu ul li:hover a:before,
.categories-list ul li i,
li:hover .eladrousi-blog-grid-text h2 a,
li:hover .eladrousi-read-more,
.eladrousi-filterable ul li:hover a,
.eladrousi-job-tag a,
.eladrousi-list-option ul li a,
.eladrousi-jobdetail-postinfo,
.eladrousi-jobdetail-options li i,
.eladrousi-jobdetail-btn,
.eladrousi-jobdetail-services i,
.eladrousi-list-style-icon li i,
.widget_view_jobs_btn,
.eladrousi-employer-list small,
.eladrousi-employer-list-btn,
.eladrousi-employer-grid figcaption small,
.eladrousi-fileUpload span,
.eladrousi-managejobs-appli,
.eladrousi-transactions-tbody small,
.eladrousi-resumes-subtitle a,
.eladrousi-employer-confitmation a,
.eladrousi-candidate-default-text h2 i,
.eladrousi-candidate-default-btn,
.eladrousi-candidate-grid figure figcaption p a,
.jobsearch_candidate_info p a,
.eladrousi-candidate-download-btn,
.eladrousi-employer-dashboard-nav ul li:hover a,
.eladrousi-employer-dashboard-nav ul li.active a,
.eladrousi-candidate-savedjobs tbody td span,
.eladrousi-cvupload-file span,
.eladrousi-modal .modal-close:hover,
.eladrousi-box-title span,
.eladrousi-user-form-info p a,
.eladrousi-services-classic span i,
.widget_faq ul li:hover a,
.grab-classic-priceplane ul li.active i,
.eladrousi-classic-priceplane.active .eladrousi-classic-priceplane-btn,
.eladrousi-plain-services i,
.eladrousi-packages-priceplane ul li i,
.eladrousi-additional-priceplane-btn,
.contact-service i,
.eladrousi-filterable ul li:hover a i,
.eladrousi-company-name a {
    color: #ffa000
}

.eladrousi-bgcolor,
.eladrousi-bgcolorhover:hover,
.navbar-nav>li>a:before,
.eladrousi-banner-search ul li.eladrousi-banner-submit i,
.eladrousi-plain-btn a,
.eladrousi-testimonial-slider .slick-arrow:hover,
.eladrousi-featured-label,
.eladrousi-job-like:hover,
.eladrousi-pagination-blog ul li:hover a,
.eladrousi-pagination-blog ul li:hover span,
.eladrousi-jobdetail-view,
.eladrousi-jobdetail-tags a:hover,
.eladrousi-employer-list-btn:hover,
ul li:hover .eladrousi-employer-grid-btn,
.widget_contact_form input[type=submit],
.eladrousi-fileUpload:hover span,
.eladrousi-resumes-options li:hover a,
.eladrousi-employer-jobnav ul li:hover i,
.eladrousi-employer-jobnav ul li.active i,
.eladrousi-employer-jobnav ul li.active~li:nth-child(2):after,
.eladrousi-employer-jobnav ul li.active:nth-child(2):after,
.eladrousi-employer-jobnav ul li.active:nth-child(3):after,
.eladrousi-employer-confitmation a:hover,
.eladrousi-candidate-default-btn:hover,
.eladrousi-candidate-download-btn:hover,
.eladrousi-add-popup input[type=submit],
.eladrousi-user-form input[type=submit],
.eladrousi-classic-services ul li:hover i,
.eladrousi-service-slider .slick-arrow:hover,
.eladrousi-classic-priceplane-btn,
.eladrousi-classic-priceplane.active,
.active .eladrousi-simple-priceplane-basic a,
.eladrousi-packages-priceplane-btn,
.eladrousi-additional-priceplane.active h2,
.eladrousi-additional-priceplane.active .eladrousi-additional-priceplane-btn,
.eladrousi-contact-info-sec,
.eladrousi-contact-form input[type=submit],
.contact-service a {
    background-color: #ffa000
}

.eladrousi-bordercolor,
.eladrousi-bordercolorhover:hover,
.eladrousi-jobdetail-btn,
.eladrousi-employer-list-btn,
.eladrousi-fileUpload span,
.eladrousi-employer-confitmation a,
.eladrousi-candidate-default-btn,
.eladrousi-candidate-download-btn,
.eladrousi-cvupload-file span,
.active .eladrousi-simple-priceplane-basic a,
.eladrousi-additional-priceplane-btn {
    border-color: #ffa000
}

.eladrousi-read-more {
    box-shadow: 0 0 0 2px #ffa000 inset
}

.eladrousi-typo-wrap button:hover,
.eladrousi-typo-wrap button:focus,
.eladrousi-typo-wrap input[type=button]:hover,
.eladrousi-typo-wrap input[type=button]:focus,
.eladrousi-typo-wrap input[type=submit]:hover,
.eladrousi-typo-wrap input[type=submit]:focus {
    background-color: #ffa000
}