@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap');

html.rtl,
.rtl body {
    direction: rtl;
    text-align: right;
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif !important;
    margin-bottom: 10px;
    font-weight: 600;
}

.rtl .col-md-1,
.rtl .col-md-10,
.rtl .col-md-11,
.rtl .col-md-12,
.rtl .col-md-2,
.rtl .col-md-3,
.rtl .col-md-4,
.rtl .col-md-5,
.rtl .col-md-6,
.rtl .col-md-7,
.rtl .col-md-8,
.rtl .col-md-9 {
    float: right;
}

select {
    font-family: 'Cairo', sans-serif !important;
}

.rtl .navbar-nav>li {
    float: right;
}

.rtl .navbar-default {
    float: left;
}

.rtl .navbar-nav>li.userbtn .dropdown-menu {
    left: 0;
    right: auto;
}

.rtl .dropdown-menu {
    text-align: right;
}

.rtl .posts-list .media-left {
    float: right;
    margin-left: 30px;
    margin-right: 0;
}

.rtl .appwraper .titleTop {
    text-align: right;
}

.rtl .catelist li a {
    padding-left: 0;
    padding-right: 15px;
}

.rtl .catelist li a:before {
    left: auto;
    right: 0;
    content: '\f0d9'
}

.rtl .footerWrap .quicklinks li a:before {
    margin-left: 7px;
    margin-right: 0;
    content: '\f0d9'
}

.rtl .pull-right {
    float: left !important;
}

.rtl .optionlist li {
    padding-left: 0;
    padding-right: 30px;
}

.rtl .searchList li .jobimg {
    float: right;
    margin: 0 0 0 15px;
}

.rtl .breadCrumb {
    text-align: left;
}

.rtl .jbdetail li span,
.rtl .jbdetail li a {
    text-align: left;
}

.rtl .job-header .jobinfo .candidateinfo .userPic {
    float: right;
    margin: 0 0 0 20px;
}

.rtl .col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
}

.rtl .col-md-offset-3 {
    margin-right: 25%;
    margin-left: 0;
}


.rtl .srchbox label,
.rtl .videowraper .titleTop,
.rtl .jobdetail h3,
.rtl .job-header .contentbox h3,
.rtl .companyinfo h3,
.rtl .pageTitle h1,
.rtl .footerWrap .quicklinks li a,
.rtl .footerWrap h5 {
    text-align: right;
}

.rtl .ml-auto,
.rtl .mx-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}


.rtl .faqs h4 a {
    padding: 15px 15px 15px 55px;
}

.rtl .faqs h4 a:before,
.rtl .faqs h4 .collapsed:before {
    right: auto;
    left: 15px;
}

.rtl .contact>span {
    float: right;
    margin: 0 0 0 10px;
}

.rtl .switchbox .txtlbl {
    float: right;
}

.rtl .owl-carousel .owl-stage-outer {
    direction: ltr;
}

html.rtl .owl-stage {
    direction: ltr;
}

.rtl .tabswrap .nav-tabs {
    float: left;
}

.rtl .footerWrap .address:before,
.rtl .footerWrap .phone:before,
.rtl .footerWrap .email:before {
    right: 0px;
}

.rtl .footerWrap .address,
.rtl .footerWrap .phone,
.rtl .footerWrap .email {
    padding-right: 30px;
}

.rtl  .navbar-nav .dropdown-menu:before {
    content: "";
    position: absolute;
    top: 2px;
    margin-right: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 7px solid #495057;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.15);
    box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.15);
}

.rtl .nav-item .fa-sign-in,
.rtl .nav-item .fa-user-plus
{
	margin-right: 0rem!important;
    margin-left: .5rem!important;
}

.rtl .paylogos {
    text-align: left;
}

.rtl .userloginbox .titleTop {
    text-align: right;
    margin-bottom: 20px;
}

.rtl  .userloginbox .viewallbtn {
    text-align: revert;
}